*
!Dockerfile.chatbot
!requirements.txt
!requirements.chatbot.txt
!src/
!src/chatbot_api/
!src/chatbot_api/**
!src/db/
!src/db/**
!src/models/
!src/models/**
!experiments/
!experiments/chatbot/
!experiments/chatbot/echo_chatbot/
!experiments/chatbot/echo_chatbot/resources/
!experiments/chatbot/echo_chatbot/resources/**

.git
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ipynb_checkpoints
node_modules
pgdata
dist
build
