# PostgreSQL connection
DATABASE_URL=${LOCAL_URL}
POSTGRES_USER=${USERNAME}
POSTGRES_PASSWORD=${PASSWORD}
POSTGRES_DB=${DATABASE_NAME}
CONTAINER_NAME=${CONTAINER_NAME}

# Chroma_DB_Paths:
CHROMA_LANDMARKS_DB_PATH=${PATH}
CHROMA_LANDMARKS_DB_PATH=${PATH}

# APIs
GOOGLE__KEY=${GOOGLE_API_KEY}
