# PostgreSQL connection
DATABASE_URL=${LOCAL_URL}

POSTGRES_USER=${USERNAME}
POSTGRES_PASSWORD=${PASSWORD}
POSTGRES_DB=${DATABASE_NAME}
DB_CONTAINER_NAME=${DB_CONTAINER_NAME}
APP_CONTAINER_NAME=${APP_CONTAINER_NAME}
PGVECTOR_IMAGE=${PGVECTOR_IMAGE}

# Chroma_DB_Paths:
CHROMA_LANDMARKS_DB_PATH=${PATH}
CHROMA_PHARAOHS_DB_PATH=${PATH}

#Cloudlfare API settings
R2_ACCOUNT_ID=${R2_ACCOUNT_ID}
R2_ACCESS_KEY=${R2_ACCESS_KEY}
R2_SECRET_KEY=${R2_SECRET_KEY}
R2_BUCKET_NAME=${R2_BUCKET_NAME}
R2_S3_ENDPOINT=${R2_S3_ENDPOINT}
CF_AI_API=${CF_AI_API}


# APIs
GOOGLE__KEY=${GOOGLE_API_KEY}
GROQ_API_KEY1=${GROQ_API_KEY1}
GROQ_API_KEY2=${GROQ_API_KEY2}
JINA_API_KEY=${JINA_API_KEY}
TAVILY_API_KEY=${TAVILY_API_KEY}
