# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual environments
venv_studio/
venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Alembic cache
alembic/versions/__pycache__/

# folder
data/

.vscode/
.idea/
